## On Windows (cmd)
### Run project in venv
# python -m venv .venv
# .venv\Scripts\activate.bat
# .venv\Scripts\python.exe -m pip install --upgrade pip
# .venv\Scripts\python.exe -m pip install --upgrade -r requirements.txt

# pip freeze > requirements.txt

## On MacOS
### Run project in venv
# python3 -m venv .venv
# source .venv/bin/activate
# pip3 install --upgrade pip
# pip3 install --upgrade -r requirements.txt

# pip3 freeze > requirements.txt


## Package for branch core-platform
alembic
asyncpg
fastapi[standard]
fastapi-csrf-protect
google-auth-oauthlib
pydantic-settings
python-jose #[cryptography] # JWT/Security
sqlmodel


## File handling & Utilities
black


## On MacOS
greenlet



# uvicorn[standard]
# pydantic
# passlib[bcrypt]
# psycopg
# pydantic[email]

# Database & ORM (PostgreSQL)
# sqlalchemy #[asyncio]
# psycopg2-binary

# Authentication & Security
# authlib
# google-auth
# google-auth-httplib2
# httpx # Bắt buộc cho OAuth2
# cryptography # Cho internal signing (RSA/PSS)
# pyHanko

# Background Tasks
# celery[redis]

# aiofiles # Cho xử lý file bất đồng bộ
# requests
# tenacity
# Thư viện cho Google SSO (ví dụ: python-social-auth nếu cần, nhưng ta sẽ dùng logic OAuth2 thuần)
# pyjwt

# Render HTML
# jinja2
# python-multipart # Cho upload file

# psycopg[binary]
# bcrypt==4.0.1
# passlib[bcrypt]==1.7.4
# emails
